<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="text-center my-5">
        <h1>Servicios</h1>
      </div>
      <div class="row gap-1">
        <div class="col d-flex justify-content-center" *ngFor="let servicios of servicios">
          <div class="card">
            <img [src]="servicios.imagen" class="card-img-top" alt="{{servicios.nombre}}">
            <div class="card-body">
              <h5 class="card-title">{{servicios.nombre}}</h5>
              <p class="card-text">{{servicios.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <app-footer></app-footer>

</body>

</html>