<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="d-flex justify-content-between">
        <div class="w-100 ms-4 mt-3">
            <h1>Bedu</h1>
        </div>
        
        <div class="d-flex justify-content-end align-items-center gap-2 me-4 mt-3">
                <a [routerLink]="['home-client']" routerLinkActive="active" class="text-light fs-5">Home</a>
                <a [routerLink]="['service-client']" routerLinkActive="active" class="text-light fs-5">Servicios</a>
                <a [routerLink]="['profile-client']" routerLinkActive="active" class="text-light fs-5">Perfil</a>
                <a [routerLink]="['main/home']" routerLinkActive="active" class="text-light fs-5">Salir</a>
        </div>
    
    </div>

    <router-outlet></router-outlet>
    
</body>
</html>