<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <div class="text-center mt-5">
                <h1>Proyecto Angular</h1>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/bedulogo/original.png?1596745896"
                    alt="Bedu">
            </div>
            <div class="text-center mt-5">
                <h2>BEDU</h2>
            </div>
        </div>
    </div>

</body>

</html>