<div class="d-flex justify-content-around bg-black">
    <div class="my-4">
        <h4><u>Redes Sociales</u></h4>
        <ul>
            <li>Facebook</li>
            <li>X</li>
            <li>Instragram</li>
            <li>Tiktok</li>
        </ul>
    </div>

    <div class="my-4">
        <h4><u>Ubicacion</u></h4>
        <p>San Jose Pinula</p>
        <p>Guatemala</p>
    </div>

    <div class="my-4">
        <h4><u>Informacion</u></h4>
        <p>Proyecto Bedu</p>
        <p>Uso de Angular</p>
    </div>


</div>